@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
*::before, *::after{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}
ion-icon{
    font-size: 32px;
    cursor: pointer;
    
}
.heading{
    color: crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.container{
    overflow: hidden;
    width: 350px;
    height: 650px;
    padding: 25px 30px;
    position: relative;
    border-radius: 15px;
    background-color: #4158D0;
    background-image: linear-gradient(40deg, #4158D0 10%, #ec67d3 39%, #e4e457 76%);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.topBar, .songProgress .trackTimer, .actionButtons, .musicList .listHeader, .musicList ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topBar > ion-icon{
    color: white;
    font-weight: bold;
}
.topBar > ion-icon:first-child{
    margin-left: -7px;
    font-size: 26px;
}
.topBar > span{
    font-size: 20px;
    margin-left: -3px;
    color: #ffffff;
}
.imageBox{
    width: 100%;
    height: 280px;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow:  -26px 26px 71px #968d8d,
             26px -26px 71px #73737367;
}
.imageBox img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.songDetails{
    text-align: center;
    margin: 15px 0;
    font-size: larger;
}
.songDetails p{
    color: #000000af;
    font-weight: bolder;
}
.songDetails .songTitle{
 font-size: 21px;
 margin-bottom: 8px;
}
.songDetails .artist-e{
    font-size: 18px;
    opacity: 0.9;
    line-height: 35px;
   }
.songProgress{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: crimson;
    cursor: pointer;
}
.songProgress .progressBar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: whitesmoke;
}
.progressBar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.songProgress:hover .progressBar::before{
    opacity: 1;
    pointer-events: auto;
}
.songProgress .trackTimer{
    margin-top: 2px;
}
.trackTimer span{
    font-size: 15px;
    color: aliceblue;
    margin-top: 5px;
}
.actionButtons{
    margin: 70px 0 5px 0;
}
.actionButtons ion-icon{
   user-select: none;
   color: aliceblue;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.actionButtons ion-icon:nth-child(2),
.actionButtons ion-icon:nth-child(4){
    font-size: 43px;   
 }
 .actionButtons .previous{
    margin-right: -8px;
    font-size: 38px;
 }
 .actionButtons .next{
    margin-right: -8px;
    font-size: 38px;
 }
 .actionButtons .listen{
    align-items: center;
    margin-left: 8px;
    height: 58px;
    width: 58px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow:  0 0 2px #fff, 8px 8px 8px #ec67d38a, -3px -3px 15px #ec67d3;
 }
 .listen::before{
    position: absolute;
    content: "";
    height: 46px;
    width: 46px;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: inherit;
 }
 .previous, .next{
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    box-shadow:  0 0 2px #fff, 8px 8px 8px #ec67d38a, -3px -3px 15px #ec67d3;
 }
 .musicList{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    bottom: -55%;
    transition: all 0.15s ease-in-out;
    left: 0;
    background: aliceblue;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    padding: 15px 30px;
    border-radius: 15px;
    background-blend-mode: screen;
    background: linear-gradient(0deg, #b591b9 0%, #eb9080 100%);
 }
 .showMusicList{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
 }
 .musicList ul{
    margin-top: 10px 0;
    max-height: 260px;
    overflow: auto;
 }
 .musicList ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: black;
    line-height: 22px;
    border-bottom: 1px solid darkolivegreen;
 }
 .musicList ul li:last-child{
    border-bottom: 0px;
 }
 .musicList ul li .row span{
    font-size: 17px;
 }
 .musicList ul li .row p{
    opacity: 0.6;
 }
 ul li .trackDuration{
    font-size: 16px;
 }
 .listHeader .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #3b3b3b;
 }
 .listHeader .row ion-icon{
    cursor: default;
 }
 .listHeader .row span{
    margin-left: 5px;
 }
 .listHeader .row #close{
    font-size: 22px;
    color: #3b3b3b;
 }
 .musicList ul::-webkit-scrollbar{
    width: 0;
 }
 .musicList ul li:hover{
    color: brown;
 }
 ul li.playing{
    pointer-events: none;
    color: brown;
 }
   
