@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
*::before, *::after{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: antiquewhite;
}
ion-icon{
    font-size: 32px;
    cursor: pointer;
    
}
.container{
    width: 350px;
    height: 650px;
    padding: 25px 30px;
    position: relative;
    border-radius: 15px;
    background-color: #4158D0;
    background-image: linear-gradient(40deg, #4158D0 10%, #ec67d3 39%, #e4e457 76%);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.topBar, .songProgress .trackTimer ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topBar > ion-icon{
    color: white;
    font-weight: bold;
}
.topBar > ion-icon:first-child{
    margin-left: -7px;
    font-size: 26px;
}
.topBar > span{
    font-size: 20px;
    margin-left: -3px;
    color: #ffffff;
}
.imageBox{
    width: 100%;
    height: 280px;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow:  -26px 26px 71px #968d8d,
             26px -26px 71px #73737367;
}
.imageBox img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}